@charset "UTF-8";

body {
    font-family: "Roboto Mono", monospace;
    background-image: linear-gradient(to right, #FF6861, #DC4473);    
}

.container {
    background-color: rgb(235, 222, 222);
    width: 600px; /*largura do conteinar*/
    height: 250px; /*altura do conteiner*/
    border-radius: 16px 2px; /*bordas 16px 2px 16px 2px*/
    box-shadow: 2px 2px 2px #693c64; /*sombra*/
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    min-height: 400px;
}

input {
    margin: 12px;
    padding: 6px;
    border-radius: 6px;
    border: none;
  }
  
  label, p {
      text-align: center;
      color: #A1406B;
  }

  div > h1 {
      text-align: center;   
  }
  
  button {
      margin-top: 12px;
      padding: 6px;
      border-radius: 6px;
      background: #ffffff;
      border: none;    
  }
  
  h2 {
      color: #A1406B;
      font-size: 30px;
  }

